{%extends 'purchaseapp/base.html'%}
{%block body_content%}
<form method="GET">
{%csrf_token%}
<center>
    <table class="table table-bordered", style="background-color: rgb(188, 235, 243)"
    font-family="sans-serif" >
        <thead>
            <tr>
                
                <th>InvoiceNo</th>
                <th>GSTAmnt</th>
                <th>CGSTAmnt</th>
                <th>SGTAmnt</th>
                <th>Edit</th>

            </tr>
        </thead>
        <tbody>
            {%for item in gstlist%}
            <tr>
                <td>{{item.InvoiceNo}}</td>
                <td>{{item.GSTAmnt}}</td>
                <td>{{item.CGSTAmnt}}</td>
                <td>{{item.SGTAmnt}}</td>
                <td><a href="{% url 'GSTwiseSummaryeditview' id=item.Id %}">Edit</a></td>
            
            </tr>
            {%endfor%}
        </tbody>
    </table>
</center>
</form>
{%endblock%}